body {
	background:			#f77575;
}

header {
	border-bottom:		3px solid #e13d46;
	margin-left:		3%;
	margin-right:		3%;
}

div {
	display: 			inline-block;
}

div#main {
	margin-top:			30px;
	width:				100%;
}

div#divcombo {
	width:				33%;
}

div#divcombo select {
	margin-left:		10%;
	margin-right:		10%;
	width:				80%;
	background:			#e55862;
	border:				1px black solid;
}

div#datos {
	width:				66%;
}

div#datosEditorial {
	width:				50%;
	vertical-align:		top;
}

div#datosLibros {
	width:				50%;
	vertical-align:		top;
}

table#tablaEditorial {
	width:				80%;
	margin-left:		10%;
	margin-right:		10%;
	border-collapse: 	collapse;
}

table#tablaEditorial tr:nth-child(odd){
	background:			#f9dacb;
}

td + td {
	
}

table#tablaLibros {
	width:				80%;
	margin-left:		10%;
	margin-right:		10%;
	border-collapse: 	collapse;
}

table#tablaLibros tr:nth-child(odd){
	background:			#f9dacb;
}

table#tablaLibros td {
	text-align:			center;
}

caption {
    height: 			40px;
    border:				1px black solid;
    background:			#e55862;
    font-weight:		bold;
}

td {
	padding:			3px;
}

footer {
	border-top:			3px solid #e13d46; 
	padding-top:		30px;
	margin-top:			50px;
	margin-left:		3%;
	margin-right:		3%;
}

a {
	background:			#e55862;
	color:				black;
	border:				solid 1px black;
	padding:			10px;
	text-decoration: 	none;
	font-weight: 		bold; 
	font-size: 			1.3em;
}